* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
nav {
  background-color: #444;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 6vh;
}
nav ul li {
  list-style: none;
  height: 5vw;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 4vw;
  display: inline-block;
}
nav ul li a:hover {
  color: #ddf416;
  transform: scale(1.05);
}
main {
  flex-grow: 1;
  background-color: #ccc;
}
