aiofiles==24.1.0
annotated-types==0.7.0
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
async-lru
attrs
audioop-lts==0.2.2
babel
beautifulsoup4 
bleach
Bottleneck
Brotli==1.1.0
brotlicffi
certifi
cffi
charset-normalizer 
click==8.2.1
comm
contourpy
cycler
debugpy
decorator
defusedxml 
distro==1.9.0
dj-database-url==3.0.1
Django
dotenv==0.9.9
executing
fastapi==0.116.1
fastjsonschema
ffmpy==0.6.1
filelock==3.19.1
fonttools
google==3.0.0
google-generativeai
gradio==5.45.0
gradio_client==1.13.0
groovy==0.1.2
groq
gunicorn
h11
hf-xet==1.1.10
httpcore
httpx
huggingface-hub==0.34.4
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
jiter==0.10.0
markdown-it-py==4.0.0
mdurl==0.1.2
matplotlib==3.10.0
nest_asyncio
notebook_shim
ollama==0.5.3
openai==1.107.2
orjson==3.11.3
pydantic==2.11.9
pydantic_core==2.33.2
pydub==0.25.1
psycopg2-binary==2.9.10
python-dotenv
python-multipart==0.0.20
requests
rich==14.1.0
ruff==0.13.0
safehttpx==0.1.6
semantic-version==2.10.0
starlette==0.47.3
tomlkit==0.13.3
tqdm==4.67.1
typer==0.17.4
typing-inspection==0.4.1
uvicorn==0.35.0
websockets==15.0.1
whitenoise==6.10.0
