<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% block title%}Welcome{%endblock%} 
{% block content %}

<h1>Welcome...</h1>
<div class="text">
  <p>
    ... to the site. This is where it all happens. Get ready
    for what's to come. For now we have created a contact
    form where you can make suggestions, deliver input or
    give compliments!
  </p>
  <p>
    Please fill in our
    <a href="/contact/">contact form</a> if you want to get
    in touch
  </p>
</div>
{% endblock %}
